@model travis_resume.Models.Education

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLineOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLineTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EducationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
